@model IEnumerable<WebApplication1.catalogue>

@{
    ViewBag.Title = "Catalogue";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Products", "Home", FormMethod.Post, new { id = "productfom" }))
{
    <div class="row" style="; padding: 15px 0px;">

        <div class="col-lg-12" style="margin: 30px 0px;font-weight:bold;">
            <span>Home / Master Group /  Meta Group /</span><span style="color: #2ea3f2;"> Catalogues</span>
        </div>

        <div class="col-lg-12">
            <img src="~/Content/body/catalogue/category.png" style="width:100%" />
            <span style="font-size: 36px; color: white; position: absolute; top: 15px; left: 30px;font-weight:bold;">@ViewBag.CategoryName</span>
        </div>
        <div></div>
    </div>

    <input type="hidden" id="vddlPosition" value="@Session["ddlPosition"]" />
    <input type="hidden" id="vddlGetGroup" value="@Session["ddlGetGroup"]" />
    <input type="hidden" id="vddlGetCategory" value="@Session["ddlGetCategory"]" />
    <div style="padding: 10px; background-color: #ececec;">
        <div class="row" style="padding: 0px 15px;">
            <div class="col-lg-3  search">
                <select id="ddlPosition" name="ddlPosition" style="width:100%">
                    @if (Session["ddlPosition"] == null || Session["ddlPosition"].ToString() == "0")
                    {
                        <option value="0" selected>ESC</option>
                        <option value="1">DESC</option>
                    }
                    else
                    {
                        <option value="0">ESC</option>
                        <option value="1" selected>DESC</option>
                    }
                </select>
            </div>
            <div class="col-lg-9 search">
                <input type="text" id="AllKey" name="AllKey" value="@Session["allkey"]" style=" width:100%" />
                <input type="submit" value="" style=" width: 25px; position: absolute; top: 2px; right: 3px; border: none;background-image:url(../Content/search-icon.png)" />

            </div>
        </div>
        <div class="row" style="margin-top: 2px; padding: 0px 15px;">
            <div class="col-lg-3 search">
                <select id="ddlGetGroup" name="ddlGetGroup" style="width:100%"></select>
            </div>
            <div class="col-lg-3 search">
                <select id="ddlGetCategory" name="ddlGetCategory" style="width:100%"></select>
            </div>
            <div class="col-lg-3 search">
                <select id="ddlGetItem" name="ddlGetItem" style="width:100%">
                    <option value="0">Select Item - not yet</option>
                </select>
            </div>

            <div class="col-lg-3 search">
                <select id="ddlLength" name="ddlLength" style="width:100%">
                    <option value="0">Select Length - not yet</option>
                </select>
            </div>
        </div>
        <div class="row" style="margin-top: 2px; padding: 0px 15px;">


            <div class="col-lg-3 search">
                <select id="ddlGetDINCode" name="ddlGetDINCode" style="width:100%">
                    <option value="0">Select Dincode - not yet</option>
                </select>
            </div>
            <div class="col-lg-3 search">
                <select id="ddlGetDimension" name="ddlGetDimension" style="width:100%">
                    <option value="0">Select Dimemsion - not yet</option>
                </select>
            </div>
            <div class="col-lg-3 search">
                <select id="ddlGetInterFace" name="ddlGetInterFace" style="width:100%">
                    <option value="0">Select Interface - not yet</option>
                </select>
            </div>
            <div class="col-lg-3 search">
                <select id="ddlGetMaterial" name="ddlGetMaterial" style="width:100%">
                    <option value="0">Select Material - not yet</option>
                </select>
            </div>
        </div>
    </div>
}
<div class="row" style="margin-top: 10px;padding: 0px 15px;">
    @foreach (var item in Model)
    {
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="padding:1px;height:310px;">
            <a href="@Url.Action("Category", "Home", new { CatId = item.Id })">
                <div class="row">
                    <div class="col-lg-12">
                        <img src="~/Content/ProductImage/notavailable.jpg" style="width:100%" />
                    </div>
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 products-name">
                        <span style="font-weight: bold; color: #2ea3f2;text-align:center"></span>@item.CatalogueName
                    </div>
                </div>
            </a>
        </div>
    }
</div>
@{Html.RenderAction( "FileList","Home");}
