
@{
    ViewBag.Title = "Download";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">

    <div class="col-lg-12" style="font-weight:bold;padding-top:15px;">
        <span>Home / </span><span style="color: #2ea3f2;">Download</span>
    </div>
</div>
<div class="row">
    <div class="col-lg-12" style="font-weight: bold; font-size: 36px; font-family: 'OpenSansExtraBold'; margin: 15px 0px; color: #2ea3f2;">
        Download
    </div>
</div>
@model IEnumerable<WebApplication1.file>

@{
    ViewBag.Title = "FileIndex";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Title)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FileName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th></th>

    </tr>

    @foreach (var item in Model)
{
    string background = "background-color:#e4e4e4;";

    <tr style="@if (item.Id % 2 == 0) { @background  }">
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FileName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td><a href="@Url.Action("Download", "File", new { Id = item.Id })">Download</a></td>
    </tr>
}

</table>


