@model IEnumerable<WebApplication1.Models.AllModel>

@{
    veebdbEntities db = new veebdbEntities();
}
<table class="table list_product list_orders">
    <thead>
        <tr>
            <th id="cb" class="manage_column column_check"><input id="cb_select_all" type="checkbox"></th>
            <th scope="col" id="orders" class="manage_column column_orders">Orders</th>
            <th scope="col" id="date" class="manage_column column_date">Date</th>
            <th scope="col" class="manage_column column_status">Status</th>
            <th scope="col" id="shipping" class="manage_column column_shipping">Shipping Address</th>
            <th scope="col" id="Note" class="manage_column column_note">Note</th>
           
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td id="" class="manage_column column_check item_check"><input value="@item.tblOrder.ocid" name="ids" type="checkbox"></td>
                <td scope="col" class="manage_column column_thumb">
                    #@(item.tblOrder.ocid + " - " + item.tblOrder.d_fname + " " + item.tblOrder.d_lname)
                </td>
                <td scope="col" class="manage_column column_barcode">
                    @item.tblOrder.submitDate
                </td>
                <td scope="col" class="manage_column column_number">
                    @{
                        var idStatus = item.tblOrder.status != null ? int.Parse(item.tblOrder.status) : 0;
                        var tblOrderStatus = db.orderstatus.FirstOrDefault(x => x.id == idStatus);
                        if (tblOrderStatus != null)
                        {
                            @tblOrderStatus.name
                        }
                    }
                </td>
                <td scope="col" class="manage_column column_Order_name">@item.tblOrder.d_addr1</td>
                <td scope="col" class="manage_column column_description">@item.tblOrder.d_notes</td>
              
            </tr>
                        }


    </tbody>
</table>



<div class="wrap_Order_nav">
    <span>@ViewBag.ViewOf of @ViewBag.Total items</span>
    <select class="filter" id="dropPage" name="filter_nav">
        <option value="10">10 items per page</option>
        <option value="20">20 items per page</option>
        <option value="30">30 items per page</option>
    </select>

    @if (ViewBag.Total > 10)
    {
        @Html.Partial("_PaginationAjax")
    }


</div><!-- wrap_Order_nav -->
<script>


    $('#dropPage').val(@ViewBag.View);
    $('#dropPage').unbind('change');
    $('#dropPage').on('change', function () {
        onPageChange($('#Order-result').find('a[data-page="1"]'));
    });
    $('#txtsearch_orders').on('change', function () {
        onPageChange($('#Order-result').find('a[data-page="1"]'));
    });
    $('#search_orders').unbind('click');
    $('#search_orders').on('click', function () {
        onPageChange($('#Order-result').find('a[data-page="1"]'));
    });
    $('#cb_select_all').on('click', function () {

        $(".item_check input").prop("checked", this.checked);
    });
    $('.item_check input').on('click', function () {
        var count = $(".item_check input").length;
        var _count = $(".item_check input:checked").length;

        $('#cb_select_all').prop("checked", count == _count);

    });

    function onPageChange(el) {
        if (!$(el).hasClass('disable')) {
            var page = $(el).attr('data-page');
            var view = $('#dropPage').val();
            var start = (page - 1) * view;
            var cat = $('#datepicker').val();
            var userId = $('#datepicker').val();
            var wh = $('#txtsearch_orders').val();

            $.get('@Url.Action("IndexAjax", "Order")?id=' + userId + '&searchOrder=' + wh + '&datepicker=' + cat + '&start=' + start + '&view=' + view, function (data) {

                $('#Order-result').html(data);

            });
        }


    }
</script>

