@model WebApplication1.category
<div class="row">
    <div class="col-sm-6">
        <div class="form-group">
            <label>category Code</label>

            @Html.TextBoxFor(x => x.CATEGORYCODE, new { @class = "form-control" })

        </div>
        <div class="form-group">
            <label>category Name</label>

            @Html.TextBoxFor(x => x.CATEGORYNAME, new {@class = "form-control"})

        </div>


    </div>

</div>
<div class="row">
   
    <div class="col-sm-12">
        <div class="form-group">
            <label>Catalog</label>
         
          @Html.DropDownListFor(m=>m.CatalogueCode, new SelectList(((List<catalogue>)ViewBag.ListCatalog), "Id", "CatalogueName", "Select Catalog"), new { @class = "form-control select2" })

        </div>

    </div>
</div>


@Html.HiddenFor(x=>x.CATEGORYNO)
@Html.HiddenFor(x=>x.LASTCHANGE)
@Html.HiddenFor(x=>x.CREATED)