@model WebApplication1.category

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<h2>category DETAILS</h2>

<div>
    <h4>category</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CATEGORYNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORYNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CATEGORYCODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LASTCHANGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED)
        </dt>

       

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.CATEGORYCODE }) |
    @Html.ActionLink("Back to List", "Index")
</p>
