
@{
    ViewBag.Title = "SeoTag";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}


@{
    ViewBag.Title = "GoogleTag";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}


<h2>Seo Tag</h2>

@model seo
<!-- /.row -->
<div class="row">
    <div class="col-lg-12">

        <div id="main_content" class="col-sm-12">

            <div class="product_content">
                @using (Html.BeginForm("SeoTag", "Seo", FormMethod.Post, new { enctype = "multipart/form-data", @id = "validation-form" }))
                {

                    <input type="hidden" name="id" id="hdId" value="@Model.id" />
                    <input type="hidden" name="type" value="2"/>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Order</label>

                                @Html.DropDownListFor(c => c.page, new List<SelectListItem>
            {
                
                new SelectListItem {Text = "Home", Value = "home"},
                new SelectListItem {Text = "Product", Value = "product"},
                new SelectListItem {Text = "Master Group", Value = "mastergroup"},
                new SelectListItem {Text = "Download", Value = "download"},
                new SelectListItem {Text = "Store", Value = "store"}
            }, new { @class = "form-control select2" })


                            </div>
                            <div class="form-group">
                                <label>Title</label>

                                @Html.TextBoxFor(x => x.title, new {@class = "form-control"})

                            </div>
                            <div class="form-group">
                                <label>Link</label>

                                @Html.TextBoxFor(x => x.link, new { @class = "form-control" ,@id= "txtLink" })

                            </div>
                            <div class="form-group">
                                <label>Keyword</label>

                                @Html.TextBoxFor(x => x.keyword, new { @class = "form-control" })

                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label>Meta Description</label>
                                @Html.TextAreaFor(x => x.description, new { @class = "form-control" })


                            </div>




                        </div>

                    </div>

                    <input type="submit" class="button button-sm" value="Save" id="submitbutton" name="save_product">

                }

            </div><!-- product_content -->

        </div><!-- main_content -->


    </div>
</div>
<script>
    $('#page').on('change', function () {
        var page = $(this).val();

        $.get('@Url.Action("GetSeoTag", "Seo")?page=' + page, function (data) {
           
            if (data.result != "" || data.result!=null) {
                $('#title').val(data.result.title);
                $('#hdId').val(data.result.id);
                $('#description').val(data.result.description);
                $('#txtLink').val(data.result.link);
                $('#keyword').val(data.result.keyword);
            } else {
                $('#title').val('');
                $('#description').val('');
                $('#txtLink').val('');
                $('#keyword').val('');
            }
          

        });
    });
    $("#submitbutton").on('click', function (e) {
        e.preventDefault();
        debugger;
        if ($('#validation-form').valid()) {
            $('#validation-form')[0].submit();
        }


    });
</script>

