@using WebApplication1.Models
@{
    

   SearchModel  search= Session["SearchModel"]==null?new SearchModel():(SearchModel)Session["SearchModel"];
}


<input type="hidden" id="vddlPosition" value="@search.ddlPosition" />
<input type="hidden" id="vddlGetCategory" value="@search.ddlGetCategory"/>
<input type="hidden" id="vddlGetGroupno" value="@search.ddlGetGroupno" />
<div style="padding: 10px; background-color: #ececec;">
    <div class="row" style="padding: 0px 15px;">
        <div class="col-lg-3  search">
            <select id="ddlPosition" name="ddlPosition" style="width: 100%">
                @if (!search.ddlPosition.HasValue || search.ddlPosition==0)
                {
                    <option value="0" selected>ESC</option>
                    <option value="1">DESC</option>
                }
                else
                {
                    <option value="0">ESC</option>
                    <option value="1" selected>DESC</option>
                }
            </select>
        </div>
        <div class="col-lg-9 search">
            <input type="text" id="_pBoxSearch_title" name="AllKey" value="@search.AllKey" style="width: 100%"/>
            <input type="submit" value="" style="width: 25px; position: absolute; top: 2px; right: 3px; border: none; background-image: url(../Content/search-icon.png)"/>

        </div>
    </div>
    <div class="row" style="margin-top: 2px; padding: 0px 15px;">
        <div class="col-lg-3 search">
            @*<select id="ddlGetGroup" name="ddlGetGroup" style="width: 100%"></select>*@
            <input type="text" id="ddlGetGroup" placeholder="Search Group" class="pl_ddlGetGroup" name="ddlGetGroup" value="@search.ddlGetGroup" style="width: 100%" />
        </div>
        <div class="col-lg-3 search">
            @*<select id="ddlGetCategory" name="ddlGetCategory" style="width: 100%"></select>*@
            <input type="text" id="ddlGetMetaGroup" placeholder="Search Meta group" class="pl_ddlGetMetaGroup" name="ddlGetMetaGroup" value="@search.ddlGetMetaGroup" style="width: 100%" />
        </div>
        <div class="col-lg-3 search">
            @*<select id="ddlGetItem" name="ddlGetItem" style="width: 100%">
                <option value="0">Select Item - not yet</option>
            </select>*@
            <input type="text" id="ddlGetItem" placeholder="Search Item" name="ddlGetItem" class="pl_ddlGetItem" value="@search.ddlGetItem" style="width: 100%" />
        </div>

        <div class="col-lg-3 search">
            @*<select id="ddlLength" name="ddlLength" style="width: 100%">
                <option value="0">Select Length - not yet</option>
            </select>*@
            <input type="number" id="ddlLength" placeholder="Search Length" name="ddlLength" class="pl_ddlLength" value="@search.ddlLength" style="width: 100%" />
        </div>
    </div>
    <div class="row" style="margin-top: 2px; padding: 0px 15px;">


        <div class="col-lg-3 search">
            @*<select id="ddlGetDINCode" name="ddlGetDINCode" style="width: 100%">
                <option value="0">Select Dincode - not yet</option>
            </select>*@
            <input type="text" id="ddlGetDINCode" placeholder="Search DINCode" name="ddlGetDINCode" class="pl_ddlGetDINCode" value="@search.ddlGetDINCode"  style="width: 100%" />
        </div>
        <div class="col-lg-3 search">
            @*<select id="ddlGetDimension" name="ddlGetDimension" style="width: 100%">
                <option value="0">Select Dimemsion - not yet</option>
            </select>*@
            <input type="number" id="ddlGetDimension" placeholder="Search Dimension" class="pl_ddlGetDimension" name="ddlGetDimension" value="@search.ddlGetDimension" style="width: 100%" />
        </div>
        <div class="col-lg-3 search">
            @*<select id="ddlGetInterFace" name="ddlGetInterFace" style="width: 100%">
                <option value="0">Select Interface - not yet</option>
            </select>*@

            <input type="number" id="ddlGetInterFace" placeholder="Search InterFace" class="pl_ddlGetInterFace" name="ddlGetInterFace" value="@search.ddlGetInterFace" style="width: 100%" />
        </div>
        <div class="col-lg-3 search">
            @*<select id="ddlGetMaterial" name="ddlGetMaterial" style="width: 100%">
                <option value="0">Select Material - not yet</option>
            </select>*@

            <input type="number" id="ddlGetMaterial" placeholder="Search Material" class="pl_ddlGetMaterial" name="ddlGetMaterial" value="@search.ddlGetMaterial" style="width: 100%" />
        </div>
    </div>
</div>
