@using WebApplication1.Models
@model PagedList.IPagedList<WebApplication1.item>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Bulk Product";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["SearchModel"] != null)
    {
        var search = (SearchModel)Session["SearchModel"];
    }
    List<WebApplication1.item> list = Model.ToList();
}

<h2>Bulk Products</h2>




@using (Html.BeginForm("BulkProducts", "Home", FormMethod.Post, new { id = "productfom" }))
{
    <div>
        Page Size: <select id="Size_Of_Page" name="Size_Of_Page">
            <option value="20" @(ViewBag.ValueToSet == 20 ? "selected" : "")>20</option>
            <option value="40" @(ViewBag.ValueToSet == 40 ? "selected" : "")>40</option>
            <option value="100" @(ViewBag.ValueToSet == 100 ? "selected" : "")>100</option>
            <option value="500" @(ViewBag.ValueToSet == 500 ? "selected" : "")>500</option>
            <option value="1000" @(ViewBag.ValueToSet == 1000 ? "selected" : "")>1000</option>
        </select>
        Page: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, Page_No => Url.Action("BulkProducts",
     new { Page_No, Page_Size = ViewBag.ValueToSet, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))

    </div>
    <input type="hidden" id="vddlPosition" value="@Session["ddlPosition"]" />
    <input type="hidden" id="vddlGetGroup" value="@Session["ddlGetGroup"]" />
    <input type="hidden" id="vddlGetCategory" value="@Session["ddlGetCategory"]" />
    <div class="row" style="padding: 0px 15px;">
        <div class="col-lg-3 search">
            <select id="ddlPosition" name="ddlPosition" style="width:100%">
                @if (Session["ddlPosition"] == null || Session["ddlPosition"].ToString() == "0")
                {
                    <option value="0" selected>ESC</option>
                    <option value="1">DESC</option>
                }
                else
                {
                    <option value="0">ESC</option>
                    <option value="1" selected>DESC</option>
                }
            </select>
        </div>
        <div class="col-lg-6 search">
            <input type="text" id="AllKey" name="AllKey" value="@Session["allkey"]" style=" width:100%" />
        </div>
        <div class="col-lg-3 search">

            <input type="submit" value="Search" style=" width:100%" />

        </div>
    </div>
    <div class="row" style="margin-top: 2px; padding: 0px 15px;">
        <div class="col-lg-3 search">
            <select id="ddlGetGroup" name="ddlGetGroup" style="width:100%"></select>
        </div>
        <div class="col-lg-3 search">
            <select id="ddlGetCategory" name="ddlGetCategory" style="width:100%"></select>
        </div>
        <div class="col-lg-3 search">
            <select id="ddlGetItem" name="ddlGetItem" style="width:100%">
                <option value="0">Select Item - not yet</option>
            </select>
        </div>

        <div class="col-lg-3 search">
            <select id="ddlLength" name="ddlLength" style="width:100%">
                <option value="0">Select Length - not yet</option>
            </select>
        </div>
    </div>
    <div class="row" style="margin-top: 2px; padding:0px 15px;">
        

        <div class="col-lg-3 search">
            <select id="ddlGetDINCode" name="ddlGetDINCode" style="width:100%">
                <option value="0">Select Dincode - not yet</option>
            </select>
        </div>
        <div class="col-lg-3 search">
            <select id="ddlGetDimension" name="ddlGetDimension" style="width:100%">
                <option value="0">Select Dimemsion - not yet</option>
            </select>
        </div>
        <div class="col-lg-3 search">
            <select id="ddlGetInterFace" name="ddlGetInterFace" style="width:100%">
                <option value="0">Select Interface - not yet</option>
            </select>
        </div>
        <div class="col-lg-3 search">
            <select id="ddlGetMaterial" name="ddlGetMaterial" style="width:100%">
                <option value="0">Select Material - not yet</option>
            </select>
        </div>
    </div>
}
@using (Html.BeginForm("UpdateCart", "Home"))
{
    <table class="table" style="margin-top:10px">
        <tr style="background-color:#235d91;color:white;">
            <th><input type="checkbox" id="chkbox_all" value="chkall" /></th>
            <th>
                CODE
            </th>

            <th>
                NAME
            </th>

            <th style="text-align:center">
                QUANTITY
            </th>
            <th style="text-align:center">Price</th>

        </tr>
        @for (int i = 0; i < list.Count(); i++)
        {
            var item = list[i];
            string tempCheck = "chkbox_" + item.ARTCODE;
            string fullInfo = item.ARTCODE + "|" + item.WEBPRICE + "|" + i;

            if (i % 2 == 0)
            {
            <tr>
                <td style="padding-top:15px;">
                    <input type="checkbox" id="@tempCheck" name="chkbox[]" class="chkbox" value="@fullInfo" />
                </td>
                <td style="padding-top:15px;">
                    @item.ARTCODE
                </td>
                <td style="padding-top:15px;">
                    @item.ARTNAME
                </td>
                <td><input type="number" name="qty" value="1" class="allqty" data="@item.ARTCODE" /></td>
                <td>@item.WEBPRICE </td>

            </tr>
            }
            else
            { 
            <tr style="background-color: #428bca; color: white;">
                <td style="padding-top:15px;">
                    <input type="checkbox" id="@tempCheck" name="chkbox[]" class="chkbox" value="@fullInfo" />
                </td>
                <td style="padding-top:15px;">
                    @item.ARTCODE
                </td>
                <td style="padding-top:15px;">
                    @item.ARTNAME
                </td>
                <td><input type="number" name="qty" value="1" class="allqty" data="@item.ARTCODE" /></td>
                <td>@item.WEBPRICE </td>

            </tr>}    
            
        }
        <tr><td></td><td></td><td></td><td><input type="submit" value="Add To Cart" style="width:100%;font-size:30px;"/></td><td></td></tr>
    </table>
}