@model WebApplication1.Models.AllModel
@{
    veebdbEntities db = new veebdbEntities();
    var listLanguge = db.countries.Where(x => x.status == 1).ToList();
    var indexT = 1;
    var indexT1 = 1;
}
<div class="row">
    @if (Model.tblMasterMetaGroup.METAGROUPNO == 0)
    {
        <ul class="nav nav-tabs">
            @foreach (var item in listLanguge)
            {
                <li class="@(indexT == 1 ? "active" : "")"><a data-toggle="tab" href="#@item.language">@item.language</a></li>
                indexT++;
            }


        </ul>


        <div class="tab-content">

            @foreach (var item in listLanguge)
            {
                var guid = Guid.NewGuid().ToString();

                <input type="hidden" name="tblMasterMetaGroupArray.Index" value="@(guid)" />
                <div id="@item.language" class="tab-pane fade in @(indexT1 == 1 ? "active" : "")">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Meta Group Code @item.language</label>
                                <input type="text" class="form-control" name="tblMasterMetaGroupArray[@(guid)].METAGROUPCODE" value="@Model.tblMasterMetaGroup.METAGROUPCODE" />
                                <input type="hidden" value="@item.language" name="tblMasterMetaGroupArray[@(guid)].CodeLanguage" />

                            </div>
                            <div class="form-group">
                                <label>Meta Group Name @item.language</label>
                                <input type="text" class="form-control" name="tblMasterMetaGroupArray[@(guid)].METAGROUPNAME" value="@Model.tblMasterMetaGroup.METAGROUPNAME" />
                            </div>


                        </div>
                    </div>


                </div>
                indexT1++;
            }
        </div>
    }
    else
    {
        <ul class="nav nav-tabs">
            @foreach (var item in Model.listMasterMetaGroup)
            {
                <li class="@(indexT == 1 ? "active" : "")"><a data-toggle="tab" href="#@item.CodeLanguage">@item.CodeLanguage.ToUpper()</a></li>
                indexT++;
            }


        </ul>

        <div class="tab-content">

            @foreach (var item in Model.listMasterMetaGroup)
            {
                var guid = Guid.NewGuid().ToString();

                <input type="hidden" name="tblMasterMetaGroupArray.Index" value="@(guid)"/>
                <div id="@item.CodeLanguage" class="tab-pane fade in @(indexT1 == 1 ? "active" : "")">

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label>Master Meta Group Code @(item.CodeLanguage)</label>
                                <input type="text" class="form-control" name="tblMasterMetaGroupArray[@(guid)].METAGROUPCODE" readonly="readonly" value="@item.METAGROUPCODE"/>
                                <input type="hidden" value="@item.CodeLanguage" name="tblMasterMetaGroupArray[@(guid)].CodeLanguage"/>
                                <input type="hidden" value="@item.METAGROUPNO" name="tblMasterMetaGroupArray[@(guid)].METAGROUPNO"/>
                                <input type="hidden" value="@item.LASTCHANGE" name="tblMasterMetaGroupArray[@(guid)].LASTCHANGE"/>
                                <input type="hidden" value="@item.CREATED" name="tblMasterMetaGroupArray[@(guid)].CREATED"/>

                            </div>
                            <div class="form-group">
                                <label>Master Meta Group Name @item.CodeLanguage</label>
                                <input type="text" class="form-control" name="tblMasterMetaGroupArray[@(guid)].METAGROUPNAME" value="@item.METAGROUPNAME"/>
                            </div>


                        </div>

                    </div>


                </div>
                indexT1++;
            }
        </div>

    }


    <div class="row">

        <div class="col-sm-6">
            <div class="form-group">
                <label>Status</label>


                @Html.DropDownListFor(c => c.tblMasterMetaGroup.IsActive, new List<SelectListItem> {new SelectListItem {Text = "True", Value = "True"}, new SelectListItem {Text = "False", Value = "False", Selected = true}}, new {@class = "form-control select2"})


            </div>
            <div class="form-group">
                <label class="control-label">Images <span class="required">*</span></label>

                <div>
                    <style>
                        .thumb {
                            height: 75px;
                            border: 1px solid #000;
                            margin: 10px 5px 0 0;
                        }
                    </style>

                    <input type="file" class="form-control" id="files" name="inputfile" multiple accept="image/*" />
                    <script>
                    function handleFileSelect(evt) {
                        var files = evt.target.files; // FileList object

                        // Loop through the FileList and render image files as thumbnails.
                        for (var i = 0, f; f = files[i]; i++) {

                            // Only process image files.
                            if (!f.type.match('image.*')) {
                                continue;
                            }

                            var reader = new FileReader();

                            // Closure to capture the file information.
                            reader.onload = (function(theFile) {
                                return function(e) {
                                    // Render thumbnail.
                                    var span = document.createElement('span');
                                    span.innerHTML = [
                                        '<img alt="Janere" class="thumb" src="', e.target.result,
                                        '" title="', escape(theFile.name), '"/>'
                                    ].join('');
                                    document.getElementById('list').insertBefore(span, null);
                                };
                            })(f);

                            // Read in the image file as a data URL.
                            reader.readAsDataURL(f);
                        }
                    }

                    document.getElementById('files').addEventListener('change', handleFileSelect, false);
                    </script>

                </div>
                <div>
                    <output id="list"></output>
                </div>
                <div>
                    <output>
                        @{
                        if (!string.IsNullOrEmpty(Model.tblMasterMetaGroup.METAGROUPCODE))
                        {
                            var image = Model.tblMasterMetaGroup.METAGROUPCODE + ".jpg";
                        <span style="position: relative">
                            <input type="hidden" name="urlimage" id="hdImage" value="@Model.tblMasterMetaGroup.METAGROUPCODE" />


                            @if (System.IO.File.Exists(Server.MapPath("~/Content/MetagroupImage/" + image)))
                                {
                        <i class="delete_action fa fa-times" rel="@Model.tblMasterMetaGroup.METAGROUPCODE" style="position: absolute; right: 0px; top: -30px; cursor: pointer;"></i>

                        <img alt="Janere" class="thumb" src="~/Content/MetagroupImage/@image">

                                }
                                else
                                {

                        <img alt="Janere" class="thumb" src="~/Content/ProductImage/notavailable.jpg" />

                                }
                        </span>
                        }


                        }
                    </output>
                </div>

            </div>
        </div>

    </div>
</div>



<script>
    $(".delete_action").on('click', function (e) {
        var rs = confirm('Do you want delete image ?');
        if (rs == true) {
            $(this).parents('div').eq(0).remove();
        }
        var idPic = $(this).attr('rel');
        if (idPic != "") {
            $.get('@Url.Action("DeleteImg", "MasterMetaGroup")?code=' + idPic, function (data) {


            });
        }

    });
        $('#validation-form').validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            ignore: "",
            rules: {
                METAGROUPCODE: {
                    required: true
                },
                METAGROUPNAME: {
                    required: true

                },
                METAGROUPCODE: {
                    required: true

                }


            },

            messages: {
                METAGROUPCODE: "metagrup Code do not empty",
                METAGROUPNAME: "metagrup Name do not empty",
                MetaGroupId: "Select Meta Group",


            },


            highlight: function (e) {

                if ($(e).is('.file-upload')) {
                    $(e).parents('div').eq(1).find('.form-group').removeClass('has-info').addClass('has-error');
                } else {
                    $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
                }


            },

            success: function (e) {
                if ($(e).is('.file-upload')) {
                    $(e).parents('div').eq(1).find('.form-group').removeClass('has-error').addClass('has-info');
                    $(e).parents('div').eq(1).find('.form-group .help-block').remove();
                }
                else {
                    $(e).closest('.form-group').removeClass('has-error').addClass('has-info');
                    $(e).closest('.form-group').find('.help-block').remove();
                }

            },

            errorPlacement: function (error, element) {

                if (element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                    var controls = element.closest('div[class*="col-"]');
                    if (controls.find(':checkbox,:radio').length > 1) controls.append(error);
                    else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                }
                else if (element.is('.select2') || element.is('.js-select2-1')) {
                    if (element.parents('div').eq(0).is('.input-group')) {
                        error.insertAfter(element.parents('div').eq(0));
                    } else {
                        error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                    }


                }
                else if (element.is('.file-upload')) {
                    error.insertAfter(element.parents('div').eq(1).find('.file-caption-main'));
                }
                else if (element.is('.chosen-select')) {
                    error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                }
                else error.insertAfter(element);
            },

            submitHandler: function (form) {
            },
            invalidHandler: function (form) {
            }
        });


</script>
