@model WebApplication1.metagrup

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<h2>MASTER METAGROUP AND METAGROUP DETAILS</h2>

<div>
    <h4>metagrup</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.METAGROUPCODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.METAGROUPCODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.METAGROUPNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.METAGROUPNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PARENTNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PARENTNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LASTCHANGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LASTCHANGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.IsActive)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.IsActive)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("EditMetaGroup", "EditMetaGroup", new { id = Model.METAGROUPNO }) |
    @Html.ActionLink("Back to List", "IndexMetaGroup")
</p>
