@model WebApplication1.metagrup

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
    veebdbEntities data = new veebdbEntities();
    var listMetaGroup = data.metagrups.Where(m => m.PARENTNO == 0);
}

<h2>EDIT MASTER METAGROUP AND METAGROUP</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>metagrup</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.METAGROUPNO)

        <div class="form-group">
            @Html.LabelFor(model => model.METAGROUPCODE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.METAGROUPCODE)
                @Html.ValidationMessageFor(model => model.METAGROUPCODE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.METAGROUPNAME, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.METAGROUPNAME)
                @Html.ValidationMessageFor(model => model.METAGROUPNAME)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PARENTNO, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="PARENTNO" name="PARENTNO">
                    <option value="0">This is Master</option>
                    @foreach (var item in listMetaGroup)
                    {
                        if (item.METAGROUPNO == Model.PARENTNO)
                        { 
                            <option value="@item.METAGROUPNO" selected>@item.METAGROUPNAME</option>
                        }
                        else
                        {
                            <option value="@item.METAGROUPNO">@item.METAGROUPNAME</option>
                        }
                        
                    }
                </select>
                <!-- @Html.EditorFor(model => model.PARENTNO)
                @Html.ValidationMessageFor(model => model.PARENTNO)-->
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.LASTCHANGE, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.LASTCHANGE)
                @Html.ValidationMessageFor(model => model.LASTCHANGE)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CREATED, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CREATED)
                @Html.ValidationMessageFor(model => model.CREATED)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IsActive)
                @Html.ValidationMessageFor(model => model.IsActive)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
