@model IEnumerable<WebApplication1.Models.AllModel>
<table class="table list_product">
    <thead>
        <tr>

            <th id="cb" class="manage_column column_check"><input id="cb_select_all" type="checkbox"></th>
            <th scope="col" id="CATEGORYCODE" class="manage_column column_name">Group Code</th>
            <th scope="col" id="CATEGORYNAME" class="manage_column column_location">Group Name</th>
            <th scope="col" id="LASTCHANGE" class="manage_column column_description">Meta Group</th>
       
            <th scope="col" id="STATUS" class="manage_column column_description">Status</th>
            <th scope="col" id="STATUS" class="manage_column column_description">Language</th>
            <th scope="col" class="manage_column column_number"></th>

        </tr>
    </thead>
    <tbody >
      @foreach (var item in Model)
      {
        <tr>
            <td id="" class="manage_column column_check item_check"><input value="@item.tblGroup.GROUPNO" name="ids" type="checkbox"></td>
            <td>
                @Html.DisplayFor(modelItem => item.tblGroup.GROUPCODE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblGroup.GROUPNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblMetaGroup.METAGROUPNAME)
            </td>
            <td>
                @if (item.tblGroup.IsActive == true)
                {
                    @("Active")
                }
                else
                {
                    @("Not Active")
                }
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblGroup.CodeLanguage)
            </td>
            <td scope="col" class="manage_column column_action">
                <a class="edit_action" href="@Url.Action("EditGroup", "MasterMetaGroup", new {id = item.tblGroup.IdCurrentItem})"><i class="fas fa-edit"></i></a>
                <a class="delete_action" onclick="return confirm('Are you want delete ?')" href="@Url.Action("DeleteGroup", "MasterMetaGroup", new {id = item.tblGroup.GROUPNO})"><i class="fas fa-times"></i></a>

            </td>
        </tr>
      }
    </tbody>
</table>



<div class="wrap_product_nav">
    <span>@ViewBag.ViewOf of @ViewBag.Total items</span>
    <select class="filter" id="dropPage" name="filter_nav">
        <option value="10"  >10 items per page</option>
        <option value="20" >20 items per page</option>
        <option value="30">30 items per page</option>
    </select>
   
    @if (ViewBag.Total > 10)
    {
        @Html.Partial("_PaginationAjax")
    }


</div><!-- wrap_product_nav -->
<script>
    $('#dropPage').val(@ViewBag.View);
    $('#dropPage').on('change', function () {
        onPageChange($('#Group-result').find('a[data-page="1"]'));
    });
    $('#txtsearch_orders').on('change', function () {
        onPageChange($('#Group-result').find('a[data-page="1"]'));
    });
    function onPageChange(el) {
        if (!$(el).hasClass('disable')) {
            var page = $(el).attr('data-page');
            var view = $('#dropPage').val();
            var start = (page - 1) * view;

            var search = $('#txtsearch_orders').val();
            $.get('@Url.Action("IndexAjaxGroup", "MasterMetaGroup")?start=' + start + '&view=' + view + '&search=' + search, function (data) {
                $('#Group-result').html(data);

            });
        }


    }
</script>
