@model WebApplication1.item

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>item</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ARTCODE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARTCODE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARTNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARTNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LONGNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LONGNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ARTTYPE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ARTTYPE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EXPORTABLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EXPORTABLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.STOCKITEM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.STOCKITEM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PRODUCERNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PRODUCERNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CATEGORYNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CATEGORYNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COLORNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COLORNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INFO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INFO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WEBPRICE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WEBPRICE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SPECIALOFFER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SPECIALOFFER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PICTURENAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PICTURENAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NEWUNTIL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NEWUNTIL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GROUPNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GROUPNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AUTHORIZABLE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AUTHORIZABLE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RESTRICTED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RESTRICTED)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOTPOST)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOTPOST)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NOTADDPOSTAGEFEE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NOTADDPOSTAGEFEE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WEIGHT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WEIGHT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.COLLATIONUNIT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.COLLATIONUNIT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INFO1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INFO1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INFO2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INFO2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INFO3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INFO3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INFO4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INFO4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INFO5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INFO5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INFO6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INFO6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LEN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LEN)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HEIGHT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HEIGHT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WIDTH)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WIDTH)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UNITNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNITNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.UNITDESCR)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UNITDESCR)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHECKBOX1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHECKBOX1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHECKBOX2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHECKBOX2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHECKBOX3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHECKBOX3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHECKBOX4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHECKBOX4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHECKBOX5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHECKBOX5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CHECKBOX6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CHECKBOX6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VAT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VAT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PACKAGEVOLUME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PACKAGEVOLUME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PACKAGEVOLUME2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PACKAGEVOLUME2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SIZENO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SIZENO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SIZETBLNO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SIZETBLNO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SUPPLYCYCLENO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SUPPLYCYCLENO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DISCGROUP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DISCGROUP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.WEBID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.WEBID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAYMENTTERM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAYMENTTERM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LASTCHANGE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LASTCHANGE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATED)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATED)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ARTNO }) |
    @Html.ActionLink("Back to List", "Index")
</p>
