@model WebApplication1.catalogue

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Admin_Layout.cshtml";
    veebdbEntities data = new veebdbEntities();
    var listMetaGroup = data.metagrups.Where(m => m.PARENTNO != 0);
}

<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>catalogue</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.CatalogueCode, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CatalogueCode)
                @Html.ValidationMessageFor(model => model.CatalogueCode)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.CatalogueName, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CatalogueName)
                @Html.ValidationMessageFor(model => model.CatalogueName)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.MetaGroupId, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <select id="MetaGroupId" name="MetaGroupId">
    @foreach (var item in listMetaGroup)
    {
        if (item.METAGROUPNO == Model.MetaGroupId)
        {
            <option value="@item.METAGROUPNO" selected>@item.METAGROUPNAME</option>
        }
        else
        {
            <option value="@item.METAGROUPNO">@item.METAGROUPNAME</option>              }

    }
</select>

                <!--@Html.EditorFor(model => model.MetaGroupId)
                @Html.ValidationMessageFor(model => model.MetaGroupId)-->
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
