<!DOCTYPE html>
<html>
<head>
  
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/admin/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="~/Content/admin/css/admin-style.css" rel="stylesheet"/>
    <link href="~/Content/admin/css/all.css" rel="stylesheet"/>

    <link href="~/Content/admin/css/select2.min.css" rel="stylesheet"/>

    <script src="~/Content/admin/js/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="~/Content/admin/js/admin.js"></script>
    <script src="~/Content/admin/js/bootbox.min.js"></script>
    <script src="~/Content/admin/js/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Content/admin/js/select2.min.js"></script>
    <script src="~/Content/admin/js/CusWeb.js"></script>
    <script src="~/Content/admin/js/jquery.validate.js"></script>
    <script src="~/Content/admin/js/jquery.unobtrusive-ajax.js"></script>
    <script src="~/Content/ckeditor/ckeditor.js"></script>
    <script src="~/Content/admin/js/jquery.autocomplete.js"></script>
    <script src="~/Content/admin/js/bootstrap3-typeahead.min.js"></script>
    <script src="~/Content/admin/js/moment.min.js"></script>
    <script src="~/Content/admin/js/bootstrap-datepicker.min.js"></script>
</head>
<body>

    <div class="page_wrapper">
        <header id="header">
            <div class="header_wrapper">
                <div class="container">
                    <a class="adminlogo" href="@Url.Action("Index","Home")">
                        <img alt="Janere" src="~/Content/admin/logo_icon/logo.png" />
                    </a>
                    <ul class="header_link">
                        <li><a href="#"><i class="fas fa-user"></i> Admin</a></li>
                    </ul>
                </div>
            </div>
        </header>

        <div class="container body-content">
            <div class="row">
                @Html.Partial("Partial/_pAdminLeftSidebar")
                <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" style="padding: 10px;">
                    @RenderBody()
                </div>

            </div>
        </div>

        <script>
            $('.date-picker').datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy'
            });
        </script>
        <style>
            form.loading {
                position: relative;
            }

                form.loading div.opacity {
                    display: block !important;
                }

                form.loading div.loading_icon {
                    display: block !important;
                }
        </style>
        
        @Html.Partial("Partial/_pFooter")
    </div>
 
    
</body>
</html>
