@using System.Configuration
@using WebApplication1.Helper
@using WebApplication1.Models
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    @RenderSection("share_fb", false)
    @{
        var metaTitel = ViewBag.MetaTitle;
        var metaDescription = ViewBag.MetaDescription;
        var metaLink = ViewBag.Link;
        var metaKeyword = ViewBag.Keyword;
        veebdbEntities db= new veebdbEntities();
    }

    <title>@ViewBag.MetaTitle</title>
    <meta property="og:title" content="@ViewBag.MetaTitle" />

    <meta property="og:url" content='@ViewBag.Link' />
    <meta name="description" content="@ViewBag.MetaDescription">
    <meta property="og:description" content="@ViewBag.MetaDescription" />
    <meta name="keywords" content="@ViewBag.Keyword" />
    <meta property="og:image" content="@(ConfigurationManager.AppSettings["UrlWeb"])Template/images/image-default-loco.jpg" />
    <meta property="og:image:url" content="@(ConfigurationManager.AppSettings["UrlWeb"])Template/images/image-default-loco.jpg" />
    <meta property="og:type" content="website" />

    <meta property="og:image:alt" content="@ViewBag.MetaTitle" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{

        veebdbEntities data = new veebdbEntities();


        var slider = data.sliders.Where(m => m.Status == 1);
        var setting = data.settings.ToList();
        var seo = data.seos.FirstOrDefault(x => x.type == 1);
    }
    @if (seo != null)
    {
        @Html.Raw(seo.metatag)

        @Html.Raw(seo.googleanalys)
    }
</head>
<body>

    @Html.Partial("Partial/_pMenu")

    @*<div class="navbar navbar-inverse" style="background-color: #171717">
            <div class="container">
                <div class="navbar-header">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-12 col-xs-0">
                            <a href="@Url.Action("Index", "Home")"><img alt="Janere" src="~/Content/head/logo.png" width="100%" style="padding: 33px 0px;" /></a>
                        </div>
                        <div class="col-lg-8 col-md-8 col-sm-12">
                            <div class="row" style="text-align: center; padding: 8px 0px;">
                                <div class="col-lg-7 col-md-7  col-sm-6 col-xs-12">
                                    <a href="tel:+372 658 0300"> <img alt="Janere" src="~/Content/head/contact-phone.png" /><span style="color: #8a8a8a; ">p:+372 658 0300</span></a>
                                    <a href="mailto:janere@janere.ee"> <img alt="Janere" src="~/Content/head/contact-email.png" style="margin-left: 10px;" /><span style="color: #8a8a8a; ">&nbsp; e:janere@janere.ee</span></a>
                                </div>
                                <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12" style="text-align: right; margin-top: 7px;">
                                    @Html.Partial("Partial/_pLanguage")



                                </div>
                            </div>
                            <div class="head-menu">
                                <a class="mobile_menu"><span></span><span></span><span></span></a>
                                <div class="wrap-head-main-menu">
                                    <ul class="head-main-menu">
                                        <li class="active"><a href="@Url.Action("Index", "Home")" class="langHome">Home</a></li>
                                        <li><a href="@Url.Action("MasterGroup", "Home")" class="langProducts">Products</a></li>
                                        <li><a href="@Url.Action("Download", "Home")" class="langDownload">Download</a></li>
                                        <li><a href="@Url.Action("Warehouses", "Home")">Warehouse</a></li>
                                        <li><a href="@Url.Action("Stores", "Home")" class="langStores">Stores</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>*@


    <section class="blink-slider">
        <div class="blink-slider">
            <div class="blink-view" id="blink" onclick="linkto(this) ">


                @foreach (var slide in setting.Where(x => x.typeId == "slider").OrderBy(x => x.order).ToList())
            {
                    <div class="viewSlide">
                        <a href="#"><img alt="Janere" class="fullImg" src="@slide.urlimage" id="@slide.id"></a>
                    </div>
                }



            </div>
            <div class="blink-control" id="blink-control">
            </div>
        </div>
    </section>
    <style>
        .previous {
            background-color: #f1f1f1;
            color: black;
        }

        .next {
            background-color: #4CAF50;
            color: white;
        }

        .round {
            border-radius: 50%;
        }
    </style>
    <div class="heading_title navi_slider">

        <span class="langMasterMetaGroups">Master Meta Groups</span>
        <img alt="Janere" src="~/Content/body/others/back.png" id="mm_back" />
        <input type="hidden" value="1" id="mm_cur" />
        <img alt="Janere" src="~/Content/body/others/nextBefor.png" id="mm_next" />
    </div>
   
    <div class="product_category" id="mastermeta">
        @{
            List<item> relatedProducts = (List<item>)Session["relatedProducts"];
        }

    </div><!-- product_category -->

    <h2 class="heading_title navi_slider">
        <span class="langBestSellers">Best Sellers</span>
        @*<img alt="Janere" src="~/Content/body/others/back.png" id="bs_back" />
            <input type="hidden" value="1" id="bs_cur" />
            <img alt="Janere" src="~/Content/body/others/next.png" id="bs_next" />*@
    </h2>

    <div class="container body-content owl-carousel" style="clear: both; margin-top: 20px;">
        @{
            var lang = "";
            var httpCookie = Request.Cookies["Language"];
            if (httpCookie != null)
            {
                lang = httpCookie.Value;
            }
            else
            {
                lang = "english";
            }
            var product = data.items.Where(m => m.IsBestSeller == true && m.EXPORTABLE == "T" && m.CodeLanguage == lang).ToList();
            Session["BestSellerProducts"] = product;

            foreach (var item in product)
            {



                <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12" style="padding: 0px;">
                    <a href="@Url.Action("Product", "Home", new {Code = item.ARTNAME.UrlFrendly() + "-" + item.IdCurrentItem})">
                        <div class="row home-bestseller" style="color: #666666; height: 350px;">
                            <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12" style="padding: 10px;">
                                @if (System.IO.File.Exists(Server.MapPath("~/Content/ProductImage/" + item.PICTURENAME)))
                                {
                                    <img alt="Janere" src="~/Content/ProductImage/@item.PICTURENAME" style="width: 100%;">
                                }
                                else
                                {
                                    <img alt="Janere" src="~/Content/ProductImage/notavailable.jpg" style="width: 100%;" />

                                }
                                <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12" style="font-size: 20.43px; color: #59b1f4; font-weight: bold; height: 60px;">
                                   
                                    @{
                                        var tblItem = db.artnames.FirstOrDefault(x => x.ARTNO == item.ARTNO);
                                        if (tblItem!=null)
                                        {
                                            @(tblItem.NAME)
                                        }
                                        else
                                        {
                                            
                                                 @(item.ARTNAME)
                                        }
                                    }
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12" style="font-size: 20.43px; color: #002f6c">
                                <!-- $@item.WEBPRICE-->
                            </div>
                            <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12">


                                <span style="font-weight: bold;">Width:</span> @item.WIDTH
                            </div>
                            <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12">
                                <span style="font-weight: bold; color: #666666;">Height:</span> @item.HEIGHT
                            </div>
                            <div class="col-lg-12 col-md-12  col-sm-12 col-xs-12" style="margin-bottom: 15px;">
                                <span style="font-weight: bold; color: #666666;">ArtCode:</span>@item.ARTCODE
                            </div>
                        </div>
                    </a>
                </div>

            }

        }


    </div>



    @Html.Partial("Partial/_pFooter")


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/myscript")
    @Scripts.Render("~/bundles/bootstrap")
    <link href="~/Content/Carousel/owl.theme.default.min.css" rel="stylesheet" />
    <link href="~/Content/Carousel/owl.carousel.min.css" rel="stylesheet" />
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" href="~/Content/blink.css">
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <!--<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>-->
    <script src="~/Content/jquery.blink.js"></script>
    <script src="~/Content/Carousel/owl.carousel.js"></script>

<script>
    

    $(document).on({
        mouseenter: function () {
            $('#mm_back').attr('src', '/Content/body/others/preHover.png');
        },
        mouseleave: function () {
            $('#mm_back').attr('src', '/Content/body/others/back.png');
        }
    }, '#mm_back');

    $(document).on({
        mouseenter: function () {
            $('#mm_next').attr('src', '/Content/body/others/nextHover.png');
        },
        mouseleave: function () {
            $('#mm_next').attr('src', '/Content/body/others/nextBefor.png');
        }
    }, '#mm_next');


    $(document).on({
        mouseenter: function () {
            $('#owl-prev').attr('src', '/Content/body/others/preHover.png');
        },
        mouseleave: function () {
            $('#owl-prev').attr('src', '/Content/body/others/back.png');
        }
    }, '.owl-prev');

    $(document).on({
        mouseenter: function () {
            $('#owl-next').attr('src', '/Content/body/others/nextHover.png');
        },
        mouseleave: function () {
            $('#owl-next').attr('src', '/Content/body/others/nextBefor.png');
        }
    }, '.owl-next');


</script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#blink").blink();
        });
        $('.owl-carousel').owlCarousel({
            loop: true,
            margin: 10,
            responsiveClass: true,
            responsive: {
                0: {
                    items: 1,
                    nav: true
                },
                600: {
                    items: 3,
                    nav: false
                },
                1000: {
                    items: 4,
                    nav: true,
                    loop: false
                }
            },
            nav: true,
            navText: ["<img src='/Content/body/others/back.png' id='owl-prev'>", "<img id='owl-next' src='/Content/body/others/nextBefor.png'>"]
        });
    </script>
    <script type="text/javascript">
        $(document).one('ready', function () {

            var procemessage = "<div value='0'> Loading Items...</div>";
            $("#bestseller").html(procemessage).show();
            //var url = "/Home/GetMetaGroup/";
            var url = "/Home/BestSeller/";
            $.ajax({
                url: url,
                data: { index: 1 },
                cache: false,
                type: "POST",
                success: function (data) {
                    $("#bestseller").html(data).show();
                },
                error: function (reponse) {
                    //alert("error : " + reponse);
                }
            });
            var url = "/Home/MasterMetaGroup/";
            $.ajax({
                url: url,
                data: { index: 1 },
                cache: false,
                type: "POST",
                success: function (data) {
                
                    $("#mastermeta").html(data).show();
                },
                error: function (reponse) {
                    //alert("error : " + reponse);
                }
            });

            /****************************

               MASTER META GROUP LIST

               ***************************/
            $("#mm_back").click(function () {

                var getMmCurr = $("#mm_cur").val();
                if (getMmCurr > 1) {
                    getMmCurr--;
                    $("#mm_cur").val(getMmCurr);
                    var procemessage = "<div value='0'> Loading Items...</div>";
                    $("#mastermeta").html(procemessage).show();
                    //var url = "/Home/GetMetaGroup/";
                    var url = "/Home/MasterMetaGroup/";
                    $.ajax({
                        url: url,
                        data: { index: getMmCurr },
                        cache: false,
                        type: "POST",
                        success: function (data) {
                            $("#mastermeta").html(data).show();
                        },
                        error: function (reponse) {
                            //alert("error : " + reponse);
                        }
                    });
                }
            });
            $("#mm_next").click(function () {
                var getMnCurr = $("#mm_cur").val();
                getMnCurr++;
                $("#mm_cur").val(getMnCurr);
                var procemessage = "<div value='0'> Loading Items...</div>";
                $("#mastermeta").html(procemessage).show();
                var url = "/Home/MasterMetaGroup/";
                $.ajax({
                    url: url,
                    data: { index: getMnCurr },
                    cache: false,
                    type: "POST",
                    success: function (data) {
                        if (!data.trim()) {
                            getMnCurr--;
                            $("#mm_cur").val(getMnCurr);
                            $.ajax({
                                url: url,
                                data: { index: getMnCurr },
                                cache: false,
                                type: "POST",
                                success: function (data) {
                                    $("#mastermeta").html(data).show();
                                },
                                error: function (reponse) {
                                    //alert("error : " + reponse);
                                }
                            });
                        } else {
                            $("#mastermeta").html(data).show();
                        }
                    },
                    error: function (reponse) {
                        //alert("error : " + reponse);
                    }
                });
            });

            /****************************

                BEST SELLER

                ***************************/
            $("#bs_back").click(function () {

                var getBsCurr = $("#bs_cur").val();
                if (getBsCurr > 1) {
                    getBsCurr--;
                    $("#bs_cur").val(getBsCurr);
                    var procemessage = "<div value='0'> Loading Items...</div>";
                    $("#bestseller").html(procemessage).show();
                    //var url = "/Home/GetMetaGroup/";
                    var url = "/Home/BestSeller/";
                    $.ajax({
                        url: url,
                        data: { index: getBsCurr },
                        cache: false,
                        type: "POST",
                        success: function (data) {
                            $("#bestseller").html(data).show();
                        },
                        error: function (reponse) {
                            //alert("error : " + reponse);
                        }
                    });
                }
            });
            $("#bs_next").click(function () {
                var getBsCurr = $("#bs_cur").val();
                getBsCurr++;
                $("#bs_cur").val(getBsCurr);
                var procemessage = "<div value='0'> Loading Items...</div>";
                $("#bestseller").html(procemessage).show();
                var url = "/Home/BestSeller/";
                $.ajax({
                    url: url,
                    data: { index: getBsCurr },
                    cache: false,
                    type: "POST",
                    success: function (data) {
                        if (!data.trim()) {
                            getBsCurr--;
                            $("#bs_cur").val(getBsCurr);
                            $.ajax({
                                url: url,
                                data: { index: getBsCurr },
                                cache: false,
                                type: "POST",
                                success: function (data) {
                                    $("#bestseller").html(data).show();
                                },
                                error: function (reponse) {
                                    //alert("error : " + reponse);
                                }
                            });
                        } else {
                            $("#bestseller").html(data).show();
                        }
                    },
                    error: function (reponse) {
                        // alert("error : " + reponse);
                    }
                });
            });
        });

    </script>
    <style>
        .owl-nav {
            position: absolute;
            left: 65%;
            top: -65px;
        }
    </style>
</body>
</html>
