<!DOCTYPE html>
<html>
<head>
   @* @if (Session["accountlogin"] == null)
    {
        string currentUrl = Request.Url.ToString();
        Response.Redirect(Url.Action("Login", "Home", new { returnUrl = currentUrl }));
    }*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <div class="navbar navbar-inverse" style="background-color: #171717">
        <div class="container">
            <div class="navbar-header" style="width:100%">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-0">
                        <a href="@Url.Action("Index", "Home")"> <img alt="Janere" src="~/Content/head/logo.png" width="100%" style=" padding: 33px 0px;" /></a>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-11">
                        <div class="row" style="text-align: center; padding: 8px 0px;">
                            <div class="col-lg-7 col-md-7  col-sm-6 col-xs-12">
                                <a href="tel:+372 658 0300"> <img alt="Janere" src="~/Content/head/contact-phone.png" />
                                <span style="color: #8a8a8a; ">p:+372 658 0300</span></a>
                                <a href="mailto:janere@janere.ee">
                                 
                                <span style="color: #8a8a8a; ">&nbsp;  <img alt="Janere" src="~/Content/head/contact-email.png" style="margin-left: 10px;" />e:janere@janere.ee</span></a>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12" style="text-align: right; margin-top: 7px;">
                                <div class="translation-links">                                    
                                    <ul class="top_link">
                                        <li><a href="#" class="enlgish" data-lang="0"><img alt="Janere" src="~/Content/languages/english.png" /></a>
                                            <ul class="sub_language">
                                                <li><a href="#" class="enlgish" data-lang="0">
                                                        <img alt="Janere" src="~/Content/languages/english.png" /> English
                                                    </a></li>
                                                <li><a href="#" class="estonian" data-lang="1">
                                                        <img alt="Janere" src="~/Content/languages/estonia.png" /> Estonia
                                                    </a></li>
                                                <li><a href="#" class="polish" data-lang="2">
                                                        <img alt="Janere" src="~/Content/languages/polan.png" /> Polan
                                                    </a></li>
                                                <li><a href="#" class="russian" data-lang="3">
                                                    <img alt="Janere" src="~/Content/languages/russian.png" /> Russian
                                                </a></li>    
                                            </ul>    
                                        </li>
                                        <li><a href="@Url.Action("Login", "Home")">
                                            <img alt="Janere" src="~/Content/head/myaccount.png" style="margin-left: 10px;" />
                                        </a></li>
                                        <li><a href="@Url.Action("UpdateCart", "Home")"><img alt="Janere" src="~/Content/head/cart.png" style="margin-left: 10px;" /><span style="color: white;">Cart</span></a></li>
                                    </ul>
                                </div>
                                <div id="google_translate_element" style="width: 50%;float: left;display:none"></div>
                                <script type="text/javascript">
                                    function googleTranslateElementInit() {
                                        new google.translate.TranslateElement({ pageLanguage: 'en', includedLanguages: 'en,et,pl,ru,pl', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false }, 'google_translate_element');
                                    }
                                </script>
                                <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                                <!-- Flag click handler -->
                                <script type="text/javascript">
                                    
                                </script>
                                <!--<img alt="Janere" src="~/Content/head/language.png" />-->
                                
                            </div>
                        </div>


                        <div class="row" style="color:white;">
                            @{
                                var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
                                var actionName = this.ViewContext.RouteData.Values["action"].ToString();
                            }
                            <div class="col-lg-2">&nbsp; </div>
                            <a href="@Url.Action("Index", "Home")"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 top-menu-normal">Home</div></a>
                            @if (controllerName == "Home" && (actionName == "BulkProducts" || actionName == "MetaGroup" || actionName == "Catalogue" || actionName == "Category"))
                            {
                                <a href="@Url.Action("MetaGroup", "Home")"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 top-menu-focus">Products</div></a>
                            }
                            else
                            {
                                <a href="@Url.Action("MetaGroup", "Home")"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 top-menu-normal">Products</div></a>
                            }
                            @* @if (controllerName=="Home" && actionName == "BulkProducts")
                {
                    <a href="@Url.Action("Products", "Home")"><div class="col-lg-2 top-menu-focus">Bulk Items</div></a>
                }
                else
                {
                    <a href="@Url.Action("BulkProducts", "Home")"><div class="col-lg-2 top-menu-normal">Bulk Items</div></a>
                }*@
                            @if (controllerName == "Home" && actionName == "Download")
                            {
                                <a href="@Url.Action("Download", "Home")"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 top-menu-focus">Dowload</div></a>
                            }
                            else
                            {
                                <a href="@Url.Action("Download", "Home")"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 top-menu-normal">Download</div></a>
                            }
                            @if (controllerName == "Home" && actionName == "Warehouses")
                            {
                                <a href="@Url.Action("Warehouses", "Home")"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 top-menu-focus">Warehouse</div></a>
                            }
                            else
                            {
                                <a href="@Url.Action("Warehouses", "Home")"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 top-menu-normal">Warehouse</div></a>
                            }
                            @if (controllerName == "Home" && actionName == "Stores")
                            {
                                <a href="@Url.Action("Stores", "Home")"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 top-menu-focus">Store</div></a>
                            }
                            else
                            {
                                <a href="@Url.Action("Stores", "Home")"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 top-menu-normal">Store</div></a>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <div class="row">
            <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                <div><hr style="width: 100%; border: 2px solid #002f6c;" /></div>
                <div style="color: #2ea3f2; font-size: 20px; font-weight: bold; padding: 0px 20px 13px 20px; ">
                    All Products
                </div>

                <div id="menu">

                </div>
                <!-- <div id="submenu1">

         </div>
         <div id="submenu2">

         </div>-->
                <input type="hidden" id="isMenu1Open" value="no" />
                <input type="hidden" id="isMenu2Open" value="no" />
            </div>
            <div class="col-lg-9 col-md-9 col-sm-9 col-xs-12" style="padding:0px;">
                @RenderBody()
            </div>
        </div>



        <hr />

    </div>
    <div class="footer_top">
        <div class="container">
            <footer>
            <div class="row" style="padding: 10px 0px; text-align: center;">
                <div class="col-lg-3 col-md-2 col-sm-1 col-xs-1">   &nbsp;</div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3" style="padding:10px 0px;">
                    <a href="tel:+372 658 0300"> <img alt="Janere" src="~/Content/head/contact-phone.png" /><span style="color: white; ">+372 658 0300</span></a>

                </div>
                <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3" style="padding: 10px 0px;">
                    <a href="mailto:janere@janere.ee"> <img alt="Janere" src="~/Content/head/contact-email.png" /><span style="color: white; ">janere@janere.ee</span></a>
                </div>
                <div class="col-lg-1 col-md-1 col-sm-2 col-xs-1"><a href="https://www.facebook.com/janere.ee"><img alt="Janere" src="~/Content/foot/facebook.png" /></a></div>
                <div class="col-lg-1 col-md-1 col-sm-2 col-xs-1"><a href="skype:oujanere?chat"><img alt="Janere" src="~/Content/foot/skype.png" /></a></div>
                <div class="col-lg-3 col-md-2 col-sm-1 col-xs-1">   &nbsp;</div>
            </div>
        </footer>
        </div>
    </div><!-- footer_top --> 
    <div class="footer_bottom">
        <div class="container">
            <footer>
                <ul>
                    <li>© OÜ Janere</li>
                    <li>Reg. no. 10001584</li>
                    <li>Põldmäe tee 14, Vatsla küla, Saue vald, 76915 Estonia</li>
                </ul>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/myscript")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
