@using System.Configuration
@using WebApplication1.Models
<!DOCTYPE html>
<html>
<head>
    @{
        veebdbEntities data = new veebdbEntities();
        var seo = data.seos.FirstOrDefault(x => x.type == 1);
    }
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("share_fb", false)
    @{
        var metaTitel = ViewBag.MetaTitle;
        var metaDescription = ViewBag.MetaDescription;
        var metaLink = ViewBag.Link;
        var metaKeyword = ViewBag.Keyword;
    }
    @if (seo != null)
    {
        @Html.Raw(seo.metatag)

        @Html.Raw(seo.googleanalys)
    }
    <title>@ViewBag.MetaTitle</title>
    <meta property="og:title" content="@ViewBag.MetaTitle" />

    <meta property="og:url" content='@ViewBag.Link' />
    <meta name="description" content="@ViewBag.MetaDescription">
    <meta property="og:description" content="@ViewBag.MetaDescription" />
    <meta name="keywords" content="@ViewBag.Keyword" />
    <meta property="og:image" content="@(ConfigurationManager.AppSettings["UrlWeb"])Template/images/image-default-loco.jpg" />
    <meta property="og:image:url" content="@(ConfigurationManager.AppSettings["UrlWeb"])Template/images/image-default-loco.jpg" />
    <meta property="og:type" content="website" />

    <meta property="og:image:alt" content="@ViewBag.MetaTitle" />
    <meta property="og:image:width" content="600" />
    <meta property="og:image:height" content="315" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/CusWeb.css" rel="stylesheet" />
</head>
<body>
    @Html.Partial("Partial/_pMenu")
    @*<div class="navbar navbar-inverse" style="background-color: #171717">
        <div class="container">
            <div class="navbar-header" style="width:100%">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-0">
                        <a href="@Url.Action("Index", "Home")"> <img alt="Janere" src="~/Content/head/logo.png" style="padding:33px 0px;" /></a>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-11">
                        <div class="row" style="text-align: center; padding: 8px 0px;">
                            <div class="col-lg-7 col-md-7  col-sm-6 col-xs-12">
                                <a href="tel:+372 658 0300"> <img alt="Janere" src="~/Content/head/contact-phone.png" /><span style="color: #8a8a8a; ">+372 658 0300</span></a>
                                <a href="mailto:janere@janere.ee"> <img alt="Janere" src="~/Content/head/contact-email.png" style="margin-left: 10px;" /><span style="color: #8a8a8a; ">janere@janere.ee</span></a>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12" style="text-align: right; margin-top: 7px;">
                                @Html.Partial("Partial/_pLanguage")
                            </div>
                        </div>
                        @{
                            var controllerName = this.ViewContext.RouteData.Values["controller"].ToString();
                            var actionName = this.ViewContext.RouteData.Values["action"].ToString();
                        }
                        <div class="row" style="color:white;">
                            <a href="@Url.Action("Index", "Home")"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 top-menu-normal langHome">Home</div></a>
                            @if (controllerName == "Home" && (actionName == "BulkProducts" || actionName == "MasterGroup" || actionName == "MetaGroup" || actionName == "Catalogue" || actionName == "Category"))
                            {
                            <a href="@Url.Action("MasterGroup", "Home")"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 top-menu-focus langProducts" >Products</div></a>
                            }
                            else
                            {
                            <a href="@Url.Action("MasterGroup", "Home")"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-4 top-menu-normal langProducts">Products</div></a>
                            }
                          
                            @if (controllerName == "Home" && actionName == "Download")
                            {
                            <a href="@Url.Action("Download", "Home")"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-4  top-menu-focus langDowload">Dowload</div></a>
                            }
                            else
                            {
                            <a href="@Url.Action("Download", "Home")"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-4  top-menu-normal langDowload">Download</div></a>
                            }
                           
                            @if (controllerName == "Home" && actionName == "Stores")
                            {
                            <a href="@Url.Action("Stores", "Home")"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-4  top-menu-focus langStores">Stores</div></a>
                            }
                            else
                            {
                            <a href="@Url.Action("Stores", "Home")"><div class="col-lg-2 col-md-2 col-sm-2 col-xs-4  top-menu-normal langStores">Stores</div></a>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>*@

<div class="container body-content">

    @RenderBody()
    <hr/>

</div>
    <div style="background-color: #235d91">
        <div class="container">
            <footer>
                <div class="row" style="padding: 10px 0px; text-align: center;">
                    <div class="col-lg-3">&nbsp;</div>
                    <div class="col-lg-2" style="padding: 10px 0px;">
                        <a href="tel:+372 658 0300"> <img alt="Janere" src="~/Content/head/contact-phone.png" /><span style="color: white; ">+372 658 0300</span></a>

                    </div>
                    <div class="col-lg-2" style="padding: 10px 0px;">
                        <a href="mailto:janere@janere.ee"> <img alt="Janere" src="~/Content/head/contact-email.png" /><span style="color: white; ">janere@janere.ee</span></a>
                    </div>
                    <div class="col-lg-1"><a href="https://www.facebook.com/janere.ee"><img alt="Janere" src="~/Content/foot/facebook.png" /></a></div>
                    <div class="col-lg-1"><a href="skype:oujanere?chat"><img alt="Janere" src="~/Content/foot/skype.png" /></a></div>
                    <div class="col-lg-3">&nbsp;</div>
                </div>
            </footer>
        </div>
    </div>

    <div class="footer_bottom">
        <div class="container">
            <footer>
                <ul style="font-size:20px;">
                    <li><span class="txtFooter txtFooter1">© OÜ Janere</span> </li>
                    <li><span class="txtFooter txtFooter2">Reg. no. 10001584</span> </li>
                    <li><span class="txtFooter txtFooter3">Põldmäe tee 14, Vatsla küla, Saue vald, 76915 Estonia</span> </li>
                </ul>
            </footer>
        </div>
    </div>

    <style>
        .txtFooter {
            font-size: 14px !important;
        }
    </style>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/myscript")
    @Scripts.Render("~/bundles/bootstrap")
    <script src="~/Scripts/CustomJs.js"></script>
        <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Content/admin/js/moment.min.js"></script>
    <script src="~/Content/admin/js/bootstrap-datepicker.min.js"></script>
    <script>
        $('.datepicker').datepicker({
                autoclose: true,
                todayHighlight: true,
                format: 'dd/mm/yyyy'
            });
    </script>
    @RenderSection("scripts", required: false)
</body>
</html>
