<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @{WebApplication1.Models.AllLoggedUserInfo userFullInfo = (WebApplication1.Models.AllLoggedUserInfo)Session["LoggedAccount"];}

</head>
<body>
    <div class="navbar navbar-inverse" style="background-color: #171717">
        <div class="container">
            <div class="navbar-header">
                <div class="row">
                    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-0">
                        <a href="@Url.Action("Index", "Home")"><img src="~/Content/head/logo.png" width="100%" style=" padding: 33px 0px;" /></a>
                    </div>
                    <div class="col-lg-8 col-md-8 col-sm-12">
                        <div class="row" style="text-align: center; padding: 8px 0px;">
                            <div class="col-lg-7 col-md-7  col-sm-6 col-xs-12">
                                <a href="tel:+372 658 0300"> <img src="~/Content/head/contact-phone.png" /><span style="color: #8a8a8a; ">p:+372 658 0300</span></a>
                                <a href="mailto:janere@janere.ee"> <img src="~/Content/head/contact-email.png" style="margin-left: 10px;" /><span style="color: #8a8a8a; ">&nbsp; e:janere@janere.ee</span></a>
                            </div>
                            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12" style="text-align: right; margin-top: 7px;">
                                <div class="translation-links">
                                    <ul class="top_link">
                                        <li>
                                            <a href="#" class="enlgish" data-lang="0"><img src="~/Content/languages/english.png" /></a>
                                            <ul class="sub_language">
                                                <li><a href="#" class="enlgish" data-lang="0">
                                                        <img src="~/Content/languages/english.png" /> English
                                                    </a></li>
                                                <li><a href="#" class="estonian" data-lang="1">
                                                        <img src="~/Content/languages/estonia.png" /> Estonia
                                                    </a></li>
                                                <li><a href="#" class="polish" data-lang="2">
                                                        <img src="~/Content/languages/polan.png" /> Polan
                                                    </a></li>
                                                <li><a href="#" class="russian" data-lang="3">
                                                    <img src="~/Content/languages/russian.png" /> Russian
                                                </a></li>    
                                            </ul>    
                                        </li>
                                    </ul>
                                </div>
                                <div id="google_translate_element" style="    width: 50%;float: left;display:none"></div>
                                <script type="text/javascript">
                                    function googleTranslateElementInit() {
                                        new google.translate.TranslateElement({ pageLanguage: 'en', includedLanguages: 'en,et,pl,ru', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, autoDisplay: false }, 'google_translate_element');
                                    }
                                </script>
                                <script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
                                
                                <span style="color: white;"> Hi , @userFullInfo.user.display</span>  

                                <a href="@Url.Action("Login", "Home")">
                                    <img src="~/Content/head/myaccount.png" style="margin-left: 10px;" />
                                </a>
                                <a href="@Url.Action("UpdateCart", "Home")"><img src="~/Content/head/cart.png" style="margin-left: 10px;" /><span style="color: white;">Cart</span></a>
                            </div>
                        </div>
                        <div class="head-menu">
                            <a class="mobile_menu"><span></span><span></span><span></span></a> 
                            <div class="wrap-head-main-menu">
                                <ul class="head-main-menu">
                                    <li class="active"><a href="@Url.Action("Index", "Home")">Home</a></li>
                                    <li><a href="@Url.Action("MasterGroup", "Home")">Products</a></li>
                                    <li><a href="@Url.Action("Download", "Home")">Download</a></li>
                                    <li><a href="@Url.Action("Warehouses", "Home")">Warehouse</a></li>
                                    <li><a href="@Url.Action("Stores", "Home")">Stores</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


        <section class="blink-slider">
            <div class="blink-slider">
                <div class="blink-view" id="blink" onclick="linkto(this)">
                    <div class="viewSlide">
                        <a href="#"><img class="fullImg" src="~/Content/body/banner/banner1.jpg" id="2M1Ü0390"></a>
                    </div>
                    <div class="viewSlide">
                        <a href="#"><img class="fullImg" src="~/Content/body/banner/banner1.jpg" id="2M1Ü0240"></a>
                    </div>
                    <div class="viewSlide">
                        <a href="#"><img class="fullImg" src="~/Content/body/banner/banner1.jpg" id="-3"></a>
                    </div>
                </div>
                <div class="blink-control" id="blink-control">
                </div>
            </div>
        </section>

    
    <div class="product_category">        
@{
            List<item> relatedProducts = (List<item>)Session["relatedProducts"];
}
            <a href="@Url.Action("Products", "Home", new { categoryid = 1 })"><div class="img__wrap" style="float:left;width:20%"><img src="~/Content/body/catalogue/cat1.jpg" width="100%" class="img__img" /><p class="img__description">Category 1</p></div></a>
            <a href="@Url.Action("Products", "Home", new { categoryid = 2 })"> <div class="img__wrap" style="float:left;width:20%"><img src="~/Content/body/catalogue/cat2.jpg" width="100%" class="img__img" /><p class="img__description">Category 2</p></div></a>
            <a href="@Url.Action("Products", "Home", new { categoryid = 3 })"><div class="img__wrap" style="float:left;width:20%"><img src="~/Content/body/catalogue/cat3.jpg" width="100%" class="img__img" /><p class="img__description">Category 3</p></div></a>
            <a href="@Url.Action("Products", "Home", new { categoryid = 4 })"><div class="img__wrap" style="float:left;width:20%"><img src="~/Content/body/catalogue/cat4.jpg" width="100%" class="img__img" /><p class="img__description">Category 4</p></div></a>
            <a href="@Url.Action("Products", "Home", new { categoryid = 5 })"><div class="img__wrap" style="float:left;width:20%"><img src="~/Content/body/catalogue/cat5.jpg" width="100%" class="img__img" /><p class="img__description">Category 5</p></div></a>
        </div><!-- product_category -->

    <h2 class="heading_title navi_slider"><span>Best Sellers</span>
            <img src="~/Content/body/others/back.png" />
            <img src="~/Content/body/others/next.png"/></h2>

    <div class="container body-content" style="clear:both;margin-top:20px;">
        @RenderBody()
        <hr />

    </div>
    <div class="footer_top">
        <div class="container">
            <footer>
                <div class="row" style="padding: 10px 0px; text-align: center;">
                    <div class="col-lg-3 col-md-2 col-sm-1 col-xs-1">	&nbsp;</div>
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3" style="padding:10px 0px;">
                        <a href="tel:+372 658 0300"> <img src="~/Content/head/contact-phone.png" /><span style="color: white; ">+372 658 0300</span></a>

                    </div>
                    <div class="col-lg-2 col-md-3 col-sm-3 col-xs-3" style="padding: 10px 0px;">
                        <a href="mailto:janere@janere.ee"> <img src="~/Content/head/contact-email.png" /><span style="color: white; ">janere@janere.ee</span></a>
                    </div>
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-1"><a href="https://www.facebook.com/janere.ee"><img src="~/Content/foot/facebook.png" /></a></div>
                    <div class="col-lg-1 col-md-1 col-sm-2 col-xs-1"><a href="skype:oujanere?chat"><img src="~/Content/foot/skype.png" /></a></div>
                    <div class="col-lg-3 col-md-2 col-sm-1 col-xs-1">	&nbsp;</div>
                </div>
            </footer>
        </div>
    </div>
    <div class="footer_bottom">
        <div class="container">
            <footer>
                <ul>
                    <li>© OÜ Janere</li>
                    <li>Reg. no. 10001584</li>
                    <li>Põldmäe tee 14, Vatsla küla, Saue vald, 76915 Estonia</li>
                </ul>
            </footer>
        </div>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/myscript")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <link rel="stylesheet" href="~/Content/blink.css">
    <link href="https://www.jqueryscript.net/css/jquerysctipttop.css" rel="stylesheet" type="text/css">
    <!--<script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT" crossorigin="anonymous"></script>-->
    <script src="~/Content/jquery.blink.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#blink").blink();
        });
    </script>
</body>
</html>
