@using System
@{ 
    int length = ViewBag.View;
    int total = ViewBag.Total;
    int start = ViewBag.Start;
    string more = ViewBag.More != null ? ViewBag.More : "";
    string css = ViewBag.Css != null ? ViewBag.Css : "";
    string function = ViewBag.OnPageChange != null ? ViewBag.OnPageChange : "onPageChange";
}



<ul class="product_nav">

@{
    int page = (int)Math.Ceiling((double)total / length);
    int currentPage = (start / length) + 1;


    if (currentPage == 1)
    {
        <li class="disable prev"><a class=""><i class="fas fa-angle-left"></i></a></li>
    }
    else
    {
        <li class="prev"><a class="" onclick="@(function)(this);" data-page="@(currentPage-1)"><i class="fas fa-angle-left"></i></a></li>
    }
    if (currentPage > 4 && currentPage < page - 3)
    {
  
        <li class="current"><a class="" data-page="@(1)" onclick="@(function)(this);">1</a></li>
        <li class=" disable"><a class="" href="javascript:void(0);">...</a></li>
        <li class=""><a class=""  data-page="@(currentPage - 1)" onclick="@(function)(this); ">@(currentPage - 1)</a></li>
        <li class=""><a class=" " data-page="@(currentPage)" href="javascript:void(0);">@(currentPage)</a></li>
        <li class=""><a class="" onclick="@(function)(this);" data-page="@(currentPage + 1)">@(currentPage + 1)</a></li>
        <li class=" disable"><a class="">...</a></li>
        <li class=""><a class="" onclick="@(function)(this);" data-page="@(page)">@page</a></li>


    }
    else
    {

        
        if (currentPage < 5)
        {

            for (int l = 1; l <= (page > 5 ? 5 : page); l++)
            {


                <li class="@(currentPage == l ? "current" : "")"><a class="" onclick="@(function)(this); " data-page="@(l)">@(l)</a></li>
            }
            if (page > 5)
            {


                        <li class="disable"><a class="" href="javascript:void(0);">...</a></li>
                        <li class=""><a class="" data-page="@(page)" onclick="@(function)(this);">@page</a></li>

            }
        }
        else if (page - 5 >= 0 && currentPage >= page - 5)
        {
            if (page - 5 > 0)
            {

                <li class=""><a class=""  data-page="@(1)" onclick="@(function)(this);">1</a></li>
                <li class="disable"><a class=""  href="javascript:void(0);">...</a></li>
            }


            for (int l = page - 4; l <= page; l++)
            {


                <li class="@(currentPage == l ? "current" : "")"><a class=""  onclick="@(function)(this); " data-page="@(l)">@(l)</a></li>
            }

        }

    }

    if (currentPage == page)
    {

        <li class="next disable"><a class=""><i class="fas fa-angle-right"></i></a></li>
    }
    else
    {
       
        <li class="next"><a class="" data-page="@(currentPage+1)" onclick="@(function)(this);"><i class="fas fa-angle-right"></i></a></li>
    }
}

</ul>
