@model IEnumerable<WebApplication1.settingtype>
<table class="table list_product">
    <thead>
        <tr>


            <th scope="col" id="barcode" class="manage_column column_name">Name</th>
            <th scope="col" id="barcode" class="manage_column column_location">Status</th>
  
            <th scope="col" class="manage_column column_number"></th>

        </tr>
    </thead>
    <tbody >
      @foreach (var item in Model)
      {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @(item.status == 1 ? "True" : "False")
            </td>
           

            <td scope="col" class="manage_column column_action">
                <a class="edit_action" href="@Url.Action("Edit", "SettingType", new {id = item.id})"><i class="fas fa-edit"></i></a>
                <a class="delete_action" onclick="return confirm('Are you want delete ?')" href="@Url.Action("Delete", "SettingType", new {id = item.id})"><i class="fas fa-times"></i></a>


            </td>
        </tr>
      }
    </tbody>
</table>



<div class="wrap_product_nav">
    <span>@ViewBag.ViewOf of @ViewBag.Total items</span>
    <select class="filter" id="dropPage" name="filter_nav">
        <option value="10"  >10 items per page</option>
        <option value="20" >20 items per page</option>
        <option value="30">30 items per page</option>
    </select>
   
    @if (ViewBag.Total > 10)
    {
        @Html.Partial("_PaginationAjax")
    }


</div><!-- wrap_product_nav -->
<script>
    $('#dropPage').val(@ViewBag.View);
    $('#dropPage').on('change', function () {
        onPageChange($('#settingtype-result').find('a[data-page="1"]'));
    });

    function onPageChange(el) {
        if (!$(el).hasClass('disable')) {
            var page = $(el).attr('data-page');
            var view = $('#dropPage').val();
            var start = (page - 1) * view;

            $.get('@Url.Action("IndexAjax", "SettingType")?start=' + start + '&view=' + view, function (data) {
                $('#settingtype-result').html(data);

            });
        }


    }
</script>
