@model IEnumerable<WebApplication1.Models.AllModel>
<table class="table list_product">
    <thead>
        <tr>


            <th scope="col" id="barcode" class="manage_column column_name">Name Product</th>
            <th scope="col" id="barcode" class="manage_column column_name">Volume</th>
            <th scope="col" id="barcode" class="manage_column column_name">Warehouse</th>
           
            <th scope="col" class="manage_column column_number"></th>

        </tr>
    </thead>
    <tbody >
      @foreach (var item in Model)
      {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tblitem.ARTNAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblStock.VOLUME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.tblStockCod.STOCKNAME)
            </td>

            <td scope="col" class="manage_column column_action">
                <a class="edit_action" href="@Url.Action("Edit", "Stock", new {id = item.tblStock.LINENO})"><i class="fas fa-edit"></i></a>
                <a class="delete_action" onclick="return confirm('Are you want delete ?')" href="@Url.Action("Delete", "Stock", new {id = item.tblStock.LINENO})"><i class="fas fa-times"></i></a>


            </td>
        </tr>
      }
    </tbody>
</table>



<div class="wrap_product_nav">
    <span>@ViewBag.ViewOf of @ViewBag.Total items</span>
    <select class="filter" id="dropPage" name="filter_nav">
        <option value="10"  >10 items per page</option>
        <option value="20" >20 items per page</option>
        <option value="30">30 items per page</option>
    </select>
   
   
        @Html.Partial("_PaginationAjax")
    


</div><!-- wrap_product_nav -->
<script>
    $('#dropPage').val(@ViewBag.View);
    $('#dropPage').unbind('change');
    $('#dropPage').on('change', function () {
        onPageChange($('#stock-result').find('a[data-page="1"]'));
    });
    $('#filter_stock').unbind('change');
    $('#filter_stock').on('change', function () {
        onPageChange($('#stock-result'));
    });
    $('#txtsearch_orders').unbind('change');
    $('#txtsearch_orders').on('change', function () {
        onPageChange($('#metagrup-result').find('a[data-page="1"]'));
    });
    function onPageChange(el) {
        if (!$(el).hasClass('disable')) {
            var page = $(el).attr('data-page');
            var view = $('#dropPage').val();
            var start = (parseInt(page) - 1) * view;
            var type = $('#filter_stock').val();
            var search = $('#txtsearch_orders').val();
            $.get('@Url.Action("IndexAjax", "Stock")?search=' + search + '&start=' + start + '&view=' + view + '&stockcodId=' + type, function (data) {
                $('#stock-result').html(data);

            });
        }


    }
</script>
