@model IEnumerable<WebApplication1.artgrp>

@{
    ViewBag.Title = "Group";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Products", "Home", FormMethod.Post, new { id = "productfom" }))
{
    <div class="row" style="; padding: 15px 0px;">

        <div class="col-lg-12" style="margin: 30px 0px;font-weight:bold;">
            <span>Home / @Session["MasterGroup"] / </span><span style="color: #2ea3f2;"> @Session["Group"] </span>
        </div>

        <div class="col-lg-12">
            <img src="~/Content/body/catalogue/category.png" style="width:100%" />
            <span style="font-size: 36px; color: white; position: absolute; top: 15px; left: 30px;font-weight:bold;">@ViewBag.CategoryName</span>
        </div>
        <div></div>
    </div>

    @Html.Partial("Partial/_pSearch")
}

<div class="row" style="margin-top: 10px;padding: 0px 15px;">
    @foreach (var item in Model)
    {
       var image = item.GROUPCODE + ".jpg";
        <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6" style="padding:1px;height:310px;">
                <a href="@Url.Action("Products", "Home", new { groupno = item.GROUPNO })">
                    <div class="row">
                        <div class="col-lg-12">
                            @if (System.IO.File.Exists(Server.MapPath("~/Content/MetagroupImage/" + item.GROUPCODE + ".jpg")))
                            {

                                <img src="~/Content/ProductImage/@image" style="width:100%">

                            }
                            else
                            {

                                <img src="~/Content/ProductImage/notavailable.jpg" style="width:100%" />

                            }
                        </div>
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 products-name">
                            <span style="font-weight: bold; color: #2ea3f2;text-align:center"></span>@item.GROUPNAME
                        </div>
                    </div>
                </a>
        </div>
    }
</div>
@{Html.RenderAction("FileList", "Home");}
