
@model WebApplication1.user
@{
    ViewBag.Title = "Signup";
    Layout = "~/Views/Shared/_Layout_NoMenu.cshtml";
}
<div class="row">
    <div class="col-lg-12" style="padding: 0px;margin-left: 25%;">
        <h2>Sign up info</h2>

        @using (Html.BeginForm("SaveSignup", "Account", FormMethod.Post, new { enctype = "multipart/form-data", @id = "validation-form" }))
        {
            <div class="form-horizontal">
                <hr />

                <div class="form-group">
                    <label class="control-label col-md-2">Display Name :</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.display)

                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-md-2">Username :</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.username)

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Email :</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.email)

                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Password :</label>
                    <div class="col-md-10">
                        <input type="password" class="txtPass" name="passwordf" id="passwordf" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="control-label col-md-2">Confirm Password :</label>
                    <div class="col-md-10">
                        @Html.TextBoxFor(x => x.password)
                       
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="button" id="submitbutton" value="Create" class="btn btn-default"/>
                        <a href="@Url.Action("Index","Home")">Cancel</a>
                    </div>
                    

                </div>
            </div>


        }
       

        <!-- Modal -->
        @Html.Partial("Partial/_pForgetPassword")
    </div>
</div>

@section scripts {
    <script>
        $("#submitbutton").on('click', function(e) {
            e.preventDefault();
            if ($('#validation-form').valid()) {
                var _email = $('#email').val();
                var _username = $('#username').val();

                if (_username !== "" && _username != null) {
                    if (CheckUser(_email, 2) !== true) {
                        if (_email !== "" && _email != null) {
                            if (CheckUser(_email, 1) !== true) {
                                $('#validation-form')[0].submit();
                            } else {
                                $('#email').parents('.form-group').find('.help-block').remove();
                                $('#email').closest('.form-group').removeClass('has-info').addClass('has-error');
                                $('#email').after(' <div for="display" class="help-block">The email address is already registered.<a data-toggle="modal" data-target="#modalForgetPass">Forgot Password</a></div>');

                            }
                        }
                    } else {
                        $('#_username').parents('.form-group').find('.help-block').remove();
                        $('#_username').closest('.form-group').removeClass('has-info').addClass('has-error');
                        $('#_username').after(' <div for="display" class="help-block">The username  is already registered.<a data-toggle="modal" data-target="#modalForgetPass">Forgot Password</a></div>');

                    }
                }


               
               
            }
        });
        $('#validation-form').validate({
            errorElement: 'div',
            errorClass: 'help-block',
            focusInvalid: false,
            ignore: "",
            rules: {
                display: {
                    required: true
                },
                username: {
                    required: true
                },
                email: {
                    email: true,
                    required: true
                    @*remote:
                    {
                        'url': '@Url.Action("CheckUser", "Account")',
                        'type': 'POST',
                        'content-Type': 'application/x-www-form-urlencoded',
                        'dataType': 'json',
                        'data': {
                            'email': $('#email').val()

                        },
                        'success': function(result) {
                            console.log(result.result);
                            if (result.result === true) {
                                
                            }

                        }

                    }*@


                },
                passwordf: {
                    required: true
                },
                password: {
                    required: true,
                    equalTo: "#passwordf"
                }


            },

            messages: {
                display: "Display Name do not empty",
                email: { required: "Email do not empty", email: "Please enter a valid email address." },
                passwordf: "Password do not empty",
                password: {
                    required: "Comfirm Password do not empty",
                    equalTo: "Password & Comfirm Password do not like"
                },
                username: "User Name do not empty"

            },


            highlight: function(e) {

                if ($(e).is('.file-upload')) {
                    $(e).parents('div').eq(1).find('.form-group').removeClass('has-info').addClass('has-error');
                } else {
                    $(e).closest('.form-group').removeClass('has-info').addClass('has-error');
                }


            },

            success: function(e) {
                if ($(e).is('.file-upload')) {
                    $(e).parents('div').eq(1).find('.form-group').removeClass('has-error').addClass('has-info');
                    $(e).parents('div').eq(1).find('.form-group .help-block').remove();
                } else {
                    $(e).closest('.form-group').removeClass('has-error').addClass('has-info');
                    $(e).closest('.form-group').find('.help-block').remove();
                }

            },

            errorPlacement: function(error, element) {

                if (element.is('input[type=checkbox]') || element.is('input[type=radio]')) {
                    var controls = element.closest('div[class*="col-"]');
                    if (controls.find(':checkbox,:radio').length > 1) controls.append(error);
                    else error.insertAfter(element.nextAll('.lbl:eq(0)').eq(0));
                } else if (element.is('.select2') || element.is('.js-select2-1')) {
                    if (element.parents('div').eq(0).is('.input-group')) {
                        error.insertAfter(element.parents('div').eq(0));
                    } else {
                        error.insertAfter(element.siblings('[class*="select2-container"]:eq(0)'));
                    }


                } else if (element.is('.file-upload')) {
                    error.insertAfter(element.parents('div').eq(1).find('.file-caption-main'));
                } else if (element.is('.chosen-select')) {
                    error.insertAfter(element.siblings('[class*="chosen-container"]:eq(0)'));
                } else error.insertAfter(element);
            },

            submitHandler: function(form) {
            },
            invalidHandler: function(form) {
            }
        });

        function CheckUser(email,type) {
            var url = '@Url.Action("CheckUser", "Account")';
           
            var check = false;
            $.ajax({
                async: false,
                'url': url,
                'type': 'POST',
                'content-Type': 'application/x-www-form-urlencoded',
                'dataType': 'json',
                'data': { 'email': email, 'type': type },
                'success': function (result) {
                    check = result.result;

                },
                'error': function (xmlHttpRequest, textStatus, errorThrown) {

                }

            });

            return check;
        }

    </script>
}


