@model IEnumerable<WebApplication1.order>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_NoMenu.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.companyname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tradingname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.promotionName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.abn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.addr1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.addr2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.addr3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.postcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.showsubtotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.clientID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.submitDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.lastupdate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.visible)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tradeterms)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ordertotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ordertotalexc)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.currency)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exchangerate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.profileID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.closedDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.d_attention)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.d_fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.d_lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.d_addr1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.d_addr2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.d_addr3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.d_postcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.d_companyname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.d_country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.d_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.d_mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.d_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.d_fax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.d_notes)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.payoption)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tobeinvoiced)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.order_group)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.d_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_attention)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_fname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_lname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_companyname)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_abn)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_addr1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_addr2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_addr3)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_postcode)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_mobile)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_fax)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.b_addrid)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.onhold)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ocupdatedby)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.oclastupdated)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.notes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.companyname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tradingname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.promotionName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.abn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.addr1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.addr2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.addr3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.postcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.showsubtotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.clientID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.submitDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastupdate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.visible)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tradeterms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ordertotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ordertotalexc)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.currency)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exchangerate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.profileID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.closedDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.d_attention)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.d_fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.d_lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.d_addr1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.d_addr2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.d_addr3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.d_postcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.d_companyname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.d_country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.d_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.d_mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.d_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.d_fax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.d_notes)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.payoption)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tobeinvoiced)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.order_group)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.d_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_attention)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_fname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_lname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_companyname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_abn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_addr1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_addr2)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_addr3)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_postcode)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_country)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_mobile)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_fax)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_email)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.b_addrid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.onhold)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ocupdatedby)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.oclastupdated)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.notes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ocid }) |
            @Html.ActionLink("Details", "Details", new { id=item.ocid }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ocid })
        </td>
    </tr>
}

</table>
